body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h1 {
  text-align: center;
  font-size: 2rem;
}

header {
  width: 98%;
  margin: 5px auto;
  display: flex;

  justify-content: space-between;
  border: 1px solid black;
  align-items: center;
}

.nav-bar {
  width: 20%;
}

ul {
  display: flex;
  justify-content: space-evenly;
}
ul li {
  list-style: none;
  cursor: pointer;
}
ul li:active {
  color: blue;
}

.books {
  width: 90%;
  margin: 5px auto;
  border: 1px solid black;
  display: flex;
  flex-direction: column;
  row-gap: 10px;
}

.items-container {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
}

.white {
  background-color: white !important;
}

.gray {
  background-color: lightgray !important;
}

.btn {
  padding: 0 5%;
  height: 5vh;
  margin-right: 10px;
  border: 1px solid black;
  display: flex;
  align-items: center;
  box-shadow: 2px 2px #888;
  cursor: pointer;
}

h2 {
  margin-left: 10px;
}

hr {
  width: 20%;
  margin: 15px auto;
}

.contact-section {
  text-align: center;
  display: none;
  flex-direction: column;
  row-gap: 12px;
  padding-bottom: 10%;
}

form {
  text-align: center;
  display: flex;
  flex-direction: column;
  row-gap: 12px;
}

.submit-button {
  margin: 0 auto;
  border: 1px solid black;
  padding: 5px 10px;
  box-shadow: 2px 2px #888;
  cursor: pointer;
}
