body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header h1 {
  text-align: center;
  font-size: 2rem;
}

.books {
  border: 1px solid black;
  display: flex;
  flex-direction: column;
}

.items-container {
  display: flex;
  width: 100%;
  justify-content: space-between;
}
